@media only screen and (max-width: 1024px) {
    section {
        margin: 2rem 2.5rem;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 95%;
    }

    header {
        max-width: 100%;
    }

    section {
        margin: 0rem 1.5rem;
    }

    .imagens {
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #7CBA80;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: 100%;
        text-align: center;
        background-color: #4E5153;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }

    .principal {
        grid-template-columns: repeat(1, 1fr);
    }

}