/* Baseboard project */
footer {
    display: flex;
    flex-direction: column;
}

.baseboard {
    display: flex;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: .85rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 1.5rem 1rem;
}

.text-baseboard {
    text-decoration: none;
    color: var(--cor-primary);
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .baseboard {
        font-size: .75rem;
    }
}