.header {
    display: flex;
    max-width: 48rem;
    margin: auto;
    padding: 2.5rem 1.5rem;
    justify-content: space-between;
}

.titulo__nav {
    font-family: var(--font-secundaria);
    font-size: 1.125rem;
    font-weight: 500;
}

.texto__nav {
    text-decoration: none;
    color: var(--cor-primaria);
}

.lista__nav {
    font-family: var(--font-secundaria);
    font-size: 0.95rem;
    font-weight: 400;
    justify-content: flex-end;
}

.nav__link {
    text-decoration: none;
    color: var(--cor-primaria);
    padding: 0 1em ;
}

.nav__link:hover {
    color: var(--cor-terciaria);
}