.header {
    display: flex;
    max-width: 48rem;
    margin: auto;
    padding: 2.5rem 1.5rem;
    justify-content: space-between;
}

.titulo__nav {
    font-family: var(--font-secundaria);
    font-size: 1.125rem;
    font-weight: 500;
}

.texto__nav {
    text-decoration: none;
    color: var(--cor-primaria);
}

.lista__nav {
    font-family: var(--font-secundaria);
    font-size: 0.95rem;
    font-weight: 400;
    justify-content: flex-end;
}

.nav__link {
    text-decoration: none;
    color: var(--cor-primaria);
    padding: 0 1em ;
}

.nav__link:hover {
    color: var(--cor-terciaria);
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .texto__nav {
        font-size: .75rem;
    }
    
    .lista__nav {
        font-size: .75rem;
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    
}

/* Desktop */
@media screen and (max-width: 1024px) {
    
}