main {
    flex: 1 1 0%;
    padding: 1rem;
}

.main {
    display: flex;
    max-width: 48rem;
    margin: auto;
}

.imagem__main {
    display: flex;
    justify-content: flex-end;
}

.imagem {
    border-radius: 15px;
}


.texto__primaria {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    margin-top: 0.5rem;
}

.texto__secundario {
    font-family: var(--font-primaria);
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--cor-primaria);
}

.texto__terciario {
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
    margin-top: 1.50rem;
    margin-bottom: 1.50rem;
}

.botoes {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-top: 3.25rem;
    gap: 1rem;
}

.botao__distinto {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-primaria);
}

.botao__distinto {
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
    background-color: var(--cor-terciaria);
}

.botao__distinto {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.botao {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.botao {
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
}

.botao {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo__botao {
    margin-right: 0.35rem;
}

.botao__distinto:hover {
    background-color: var(--cor-botaodistintohover);
    border-color: var(--cor-botaohover);
}

.botao:hover {
    background-color: var(--cor-botaohover);
}

.imagem:hover {animation: rotate 0.75s infinite;}
    @keyframes rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(5deg); }
    }


/* Smartphone */
@media screen and (max-width: 767px) {
    
    .main {
        display: flex;
        flex-direction: column; /* Alinha os itens em coluna para melhor responsividade */
    }
    
    .imagem__main {
        display: flex;
        justify-content: center;
        padding-bottom: 0.75rem;
    }
    
    .imagem {
        border-radius: 15px;
    }

    .texto__primaria, 
    .texto__secundario, 
    .texto__terciario {
        font-size: .75rem;
        font-weight: 500;
        margin: 0.75rem 0; /* Ajusta a margem para apenas superior e inferior */
        word-wrap: break-word; /* Garante que palavras longas quebrem corretamente */
    }

    .texto__terciario {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2.25rem;
        gap: 1rem;
    }
    
    .botao__distinto {
        justify-content: center;
    }

    .botao {
        justify-content: center;
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    
}

/* Desktop */
@media screen and (max-width: 1024px) {
    
}