/* CSS main e image */
main {
    flex: 1 1 0%;
    padding: 1rem;
}

.main {
    display: flex;
    max-width: 48rem;
    margin: auto;
}

.image-content {
    display: flex;
    justify-content: flex-end;
}

.image {
    border-radius: 15px;
}

/* CSS text e buttons */
.text-one {
    font-family: var(--font-primaria);
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--cor-primaria);
}

.text-two {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    margin-top: 0.5rem;
}

.text-three {
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
    margin-top: 1.50rem;
    margin-bottom: 1.50rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 3.25rem;
    gap: 1rem;
}

.button-single {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-primaria);
}

.button-single {
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
    background-color: var(--cor-terciaria);
}

.button-single {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.button {
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
}

.button {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.icon-button {
    margin-right: 0.35rem;
}

.button-single:hover {
    background-color: var(--cor-botaodistintohover);
    border-color: var(--cor-botaohover);
}

.button:hover {
    background-color: var(--cor-botaohover);
}

.image:hover {animation: rotate 0.75s infinite;}
    @keyframes rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(5deg); }
    }


/* Smartphone */
@media screen and (max-width: 767px) {
    
    .main {
        display: flex;
        flex-direction: column;     /* Alinha os itens em coluna para melhor responsividade */
    }
    
    .image-content {
        display: flex;
        justify-content: center;
        padding-bottom: 0.75rem;
    }
    
    .image {
        border-radius: 15px;
    }

    .text-one, 
    .text-two, 
    .text-three {
        text-align: justify;    /* Ajuste do texto */
        line-height: 1rem;      /* Ajuste da altura entre as linhas*/
        font-size: .85rem;
        font-weight: 500;
        margin: 0.75rem 0;      /* Ajusta a margem para apenas superior e inferior */
        word-wrap: break-word;  /* Garante que palavras longas quebrem corretamente */
    }

    .text-three {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;  /* Centraliza os botões no contêiner */
        margin: auto;
        margin-top: 2.25rem;
        gap: 1rem;
    }
    
    .button-single, .button {
        display: flex;            /* Usa flexbox para centralizar conteúdo */
        align-items: center;      /* Centraliza verticalmente o conteúdo */
        justify-content: center;  /* Centraliza horizontalmente o conteúdo */
        width: 150px;             /* Define uma largura fixa */
        height: 50px;             /* Define uma altura fixa */
        font-size: 0.75rem;
        padding: 0 1rem;          /* Adiciona espaço interno */
        cursor: pointer;          /* Altera o cursor para um ponteiro ao passar o mouse */
    }
    
    .button i, .button-single i {
        margin-right: 8px;        /* Adiciona espaço entre o ícone e o texto */
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {

}