@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Roboto:wght@300&display=swap');

:root {
    --cor-primaria: #18181b;
    --cor-secundaria: #fffedf;
    --cor-terciaria: #dfba69;
    --cor-quartenaria: #ffffff;

    --font-family-primaria: 'Lexend', 'Helvetica', sans-serif;
    --font-family-secudaria: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family-secudaria);
    max-height: 100vh;
    background-color: var(--cor-primaria);
    line-height: inherit;
}

header {
    padding: 1.7rem 1rem;
    backdrop-filter: blur(10px);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}

.logo {
    font-family: var(--font-family-primaria);
    font-size: 1.125rem;
    font-weight: 500;
}

.logo a {
    color: var(--cor-quartenaria);
    text-decoration: none;
}

nav a {
    color: var(--cor-quartenaria);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
    font-family: var(--font-family-primaria);
}

nav a.active,
nav a:hover {
    background-color: var(--cor-quartenaria);
    color: var(--cor-terciaria);
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu {
    display: none;
}

section {
    margin: 2rem 5.5rem;
}

.principal {
    display: grid;
    grid-template-columns: 5% repeat(2, 1fr);
    column-gap: 1.5rem;
    align-items: center;
    margin: 1rem auto;
}

.detalhes {
    margin: 0 3.95em;
    width: 70%;
}

.principal h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.principal p {
    margin-top: 1rem;
    font-size: 1rem;
}

.text-titulo{
    font-size: 22px;
    font-family: var(--font-family-secudaria);
    font-weight: 600;
    color: var(--cor-quartenaria);
}

.text {
    margin-bottom: 1.5rem;
    color: var(--cor-quartenaria);
    font-family: var(--font-family-secudaria);
    font-weight: 300;
}

.text-decoration {
    font-size: 36px;
    font-family: var(--font-family-secudaria);
    color: var(--cor-terciaria);
}

.text-icon {
    font-size: 1rem;
    color: var(--cor-quartenaria);
    font-family: var(--font-family-secudaria);
    font-weight: 300;
}

a {
    text-decoration: none;
}

.buttons button {
    background-color: transparent;
    border: 1px solid var(--cor-terciaria);
    border-radius: 0.4rem;
    margin-top: 4.5rem;
    margin-left: 2rem;
    cursor: pointer;
    padding: 0.75rem 2.1rem;
}

.buttons button:hover {
    background-color: var(--cor-terciaria);
    color: #fff;
    transition: all .3s ease-in-out;
    transform: scale(.91); 
}

.buttons button:hover img {
    color: var(--cor-quartenaria);
    filter: contrast(1.2) brightness(1.2) grayscale(1);
}

.image-icon {
    width: 1.5em;
    height: 1.5em;
}

.image-perfil{
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
}

.imagens {
    display: flex;
    justify-content: flex-end;
    width: 93%;
}

.footer {
    text-align: center;
    margin-top: 10.25rem;
}

.text-footer {
    color: var(--cor-quartenaria);
    font-family: var(--font-family-secudaria);
    font-size: 0.85rem;
    font-weight: 300;
}
